*_files/
*_cache/
.quarto/
.Rproj.user/
.DS_Store

# Unreleased/private course materials
courses/STAT118/notes/private/
courses/STAT118/notes/archive/
courses/STAT118/homework/future/
courses/STAT118/homework/solutions/
courses/STAT118/homework/archive/

/.quarto/
